@using SDQRealEstate.Core.Application.ViewModels.Propiedad;
@using SDQRealEstate.Infrastructure.Identity.Entities;
@{
    ViewData["Title"] = "Propiedades Agente";
    List<PropiedadViewModel> list = ViewBag.listapropiedades;
    ApplicationUser user = ViewBag.agente;
}

<div 
    class='bg- d-flex flex-row justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>
    

    <!-- User data  -->
    <section class="w-25 mx-2 h-100 rounded bg-success bg-opacity-75 p-3 text-center">
        
        <h4 class="text-white">
            Lista de propiedades Agente. 
        </h4>

        <!-- Body -->

        <div class="text-white-50 w-75 mx-auto">
            <hr />
        </div>

        <div>
            <small class="text-white-50 fw-bold">Nombre:</small>
            <h6 class="text-white">@user.FirstName @user.LastName</h6>
        </div>

        <div class="text-white-50 w-75 mx-auto">
            <hr />
        </div>

        <div>
            <small class="text-white-50 fw-bold">Número telefónico:</small>
            <h6 class="text-white">@user.PhoneNumber</h6>
        </div>

        <div class="text-white-50 w-75 mx-auto">
            <hr />
        </div>

        <div>
            <small class="text-white-50 fw-bold">Número telefónico:</small>
            <h6 class="text-white">@user.Email</h6>
        </div>

        <!-- End Body -->
    </section>

    <!--  -->
    <section class='w-100 d-flex flex-column justify-content-center'>
        <div class="w-100 rounded overflow-hidden d-flex flex-row">
            <section class='w-75 d-flex flex-row p-2 justify-content-evenly flex-wrap align-items-center'>

                <!-- iterator -->
                @foreach(var item in list){
                    <a asp-controller="Home" asp-action="DetallePropiedad" asp-route-id="@item.Id" class="zoom text-reset text-decoration-none">
                    <section class="card mt-2" style="width: 18rem;">
                        <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <section class='mb-2'>
                                <h5 class="card-title mb-0">Proyecto</h5>
                                <p class="card-text">@item.tipoPropiedades.Name</p>
                            </section>
                            <section class='mb-2'>
                                <h5 class="card-title mb-0">Código</h5>
                                <p class="card-text">@item.Id</p>
                            </section>
                            <section class='mb-2'>
                                <h5 class="card-title mb-0">@item.tipoVenta.Name</h5>
                                <p class="card-text">DOP$ @item.Precio</p>
                                <p class="card-text">@item.Descripcion</p>
                            </section>
                        </div>
                        <hr />
                        <div class="card-body d-flex flex-row justify-content-between align-items-center">
                            <section class='m-0 p-0'>
                                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M14.5 7v8M.5 7v8M0 10.5h15m-15-3h15m-13-2h4m3 0h4M.5 6V.5h14V6" stroke="currentColor"></path></svg> 
                                @item.CantHabitaciones
                            </section>

                            <section class='m-0 p-0'>
                                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M0 7.5h15m-10.5 5h6m-6 0a3 3 0 01-3-3v-6a3 3 0 013-3h2V2m-2 10.5V15m6-2.5a3 3 0 003-3v-2m-3 5V15M5 3.5h3" stroke="currentColor"></path></svg> 
                                @item.CantBanos
                            </section>

                            <section class='m-0 p-0'>
                                <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path d="M10.5 10.5v3a1 1 0 01-1 1h-8a1 1 0 01-1-1v-8a1 1 0 011-1h3m0-3v8a1 1 0 001 1h8a1 1 0 001-1v-8a1 1 0 00-1-1h-8a1 1 0 00-1 1z" stroke="currentColor"></path></svg> 
                                @item.Metros mt
                            </section>
                        </div>
                    </section>
                     </a>
                }

            </section>
        </div>
   </section>

</div>