@using SDQRealEstate.Core.Application.ViewModels.Propiedad;
@model List<PropiedadViewModel>
@{
    ViewData["Title"] = "Mantenimiento Propiedades";
}

<div 
    class='d-flex flex-column justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>

    <section class="w-75 d-flex flex-row justify-content-between align-content-center mb-4 flex-wrap">
        <h2>Mantenimiento Propiedades</h2>
         <a asp-controller="Agent" asp-action="CreatePropiedad" class="btn btn-primary"><b> <i class="fa fa-plus" style="font-size:20px"></i> Crear Propiedad </b></a>

         <div class="w-100 mx-auto">
             <hr />
         </div>
    </section>

    <section class="w-100 d-flex flex-row align-items-center justify-content-center" style="min-height: 65vh; height: auto">

        <div class="w-100 mx-3">
            <div class='w-75'>
                @if (Model == null || Model.Count == 0)
                {
                    <h2 class="text-center text-muted">No tiene propiedades...</h2>
                }
                else
                {
                    @foreach (PropiedadViewModel item in Model)
                    {
                        <div class="col-4">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImgUrl " />

                                <div class="card-body">
                                    <h4 class="card-title">@item.tipoPropiedades.Name - @item.tipoVenta.Name</h4>
                                    <p class="card-text">@item.Descripcion</p>
                                     <small class="fw-bold fs-6">Codigo</small>
                                 <p class="card-text">@item.Codigo</p>
                                    <div class="d-flex justify-content-between align-items-center">
                               
                                        <small class="fw-bold fs-6">$@item.Precio</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <section class="w-100 rounded overflow-hidden mx-4 mt-2 d-flex justify-content-center align-items-center">
            <img src='/Images/Predeterminated/main_nologin.png' alt='main login image' style='width: 75%; height: 25rem; filter: brightness(90%); margin: 0 auto;' />
        </section>

    </section>
</div>


        


