@using SDQRealEstate.Core.Application.ViewModels.TipoPropiedad;

@model List<TipoPropiedadViewModel>
@{
    ViewData["Title"] =  "Tipo Propiedad";
}

<div 
    class='d-flex flex-column justify-content-center align-items-center' 
    style="width: 100%; min-height: 83.9vh; height: auto"
>

    <section class="w-75 d-flex flex-row justify-content-between align-content-center mb-4 flex-wrap">
        <h2>Mantenimiento Tipo Propiedades</h2>
         <a asp-controller="Admin" asp-action="CreateTipoPropiedad" class="btn btn-success"><b> <i class="fa fa-plus" style="font-size:20px"></i>Crear Tipo Propiedad</b></a>

         <div class="w-100">
             <hr />
         </div>
    </section>

    <section class="w-100 d-flex flex-row align-items-center justify-content-center" style="min-height: 65vh; height: auto">

        <section class="w-100 rounded overflow-hidden mx-2 mt-2 d-flex justify-content-center align-items-center">
            <img src='/Images/Predeterminated/main_nosignin.png' alt='main login image' style='width: 75%; height: 25rem; filter: brightness(90%); margin: 0 auto;' />
        </section>

        <div class="w-100 mx-5">
            <table class="table table-hover">
                  <thead>
                        <tr>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                      {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Cantidad</td>
                            <td>
                                <a asp-controller="Admin" asp-action="EditarTipoPropiedad" asp-route-id="@item.Id" class="btn w-100 btn-info"> EDITAR </a>
                                <a asp-controller="Admin" asp-action="EliminarTipoPropiedad" asp-route-id="@item.Id" class="btn btn-danger w-100 "> ELIMINAR </a>
                            </td>      
                        </tr>
                      }
                  </tbody>
            </table>
        </div>
    </section>
</div>
